@media print {
  a[href]:after {
    content: none;
  }

  @page
  {
    /*The A4 paper size is 210 mm wide by 297 mm high*/
    size: 210mm 297mm;

    margin-left: 2.5cm;
    margin-right: 1.5cm;
    margin-top: 2.0cm;
    margin-bottom: 2.0cm;

    @top-center
    {
        content: "Assistente de Termodinâmica";
        font-family: Helvetica, Arial, sans-serif;
        font-size: 8pt;
    }
    @bottom-center
    {
        content: "Página " counter(page);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 8pt;
    }
  }

  div.pagebreak { page-break-before:always; }
}
