---
layout: empty
---

{{ content | replace:'<table','<table class="table table-bordered"' }}

{% assign mycounter = 1 %}
{% assign noneFoundCounter = 0 %}

{% for i in (1..100) %}

    {% assign foundMyItem = false %}

    {% for page2 in site.categories[page.printcategory] %}

        {% if mycounter == page2.order %}

            <h1 id="{{ page2.title }}">{{ page2.title }}</h1>
            {{ page2.content | replace:'<table','<table class="table table-bordered"' }}

            {% assign foundMyItem = true %}
            {% break %}

        {% endif %}

    {% endfor %}

    {% if !foundMyItem %}

        {% assign noneFoundCounter = noneFoundCounter | plus:1 %}

        {% if noneFoundCounter >= 10 %}
            {% break %}
        {% endif %}

    {% endif %}

    {% assign mycounter = mycounter | plus:1 %}

{% endfor %}
